<ul>
  <li><a href="/users">Users</a></li>
  <li><a href="/photos">Photos</a></li>
</ul>

<h1>List of users</h1>

<form action="/add_user" method="post">
  <label for="add_newuser">Username</label>
  <input name="new_user" id="add_newuser" placeholder="Enter a username...">
  <button>Add user</button>
</form>

<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Username
    </th>

    <th>
    </th>
  </tr>

  <% @list_of_users.each do |user| %>
    <tr>
      <td>
        <%= user.id%>
      </td>
      <td>
        <%= user.username%>
      </td>
      <td>
        <a href="/users/<%=user.username%>" >Show details</a>
      </td>
    </tr>
  <% end %>

</table>
